body {
    background-color: blue;
}

h1 {
    padding: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
    color: rgba(0, 255, 64, 0.788);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.tabla-empleados {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.tabla-empleados th, .tabla-empleados td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.tabla-empleados th {
    background-color: #4CAF50;
    color: white;
}

.tabla-empleados tr {
    background-color: #f2f2f2;
}

.tabla-empleados tr:hover {
    background-color: #ddd;
}

.tabla-empleados td {
    padding: 10px;
    font-size: 14px;
}

.tabla-empleados th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
