body {
    background-color: blue;
}

h1 {
    padding: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
    color: rgba(0, 255, 64, 0.788);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.conteiner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonconteiner{
    display: flex;
    padding: 20px;
    gap: 20px;

}

.boton {
    padding: 20px;
    gap: 20px;
    color: rgba(0, 255, 64, 0.788);
    background-color:brown;
    font-family: Georgia, 'Times New Roman', Times, serif;
    justify-content: center;
    align-items: center;
    text-align: center;
}

